h1{
  background-color: white;/*#C0C0C0*/;
  color: black;
  font-size: 60px;
  /*border-bottom: solid 3px black;*/
  text-align: center;
  font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;*/

  font-weight:200px;
  margin: 30px;
  padding: 50px;

}

/*
body {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1280px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}
*/
div.PhotoBox {
   float: left;              /* A1 */
   position: relative;       /* A2 */
   overflow: hidden;         /* A3 */
   margin: 50px 0px 40px 0px;/* A4:隣接画像との余白量 */
   width: 150px;            /* A5:画像の横幅 */
   height: 150px;           /* A6:画像の高さ */
   margin-left: 140px;
}
.photo{
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
}
.photo:hover {
   opacity: 0.6;

}

div.PhotoBox div.SlideBox {
   position: absolute;       /* B1 */
   left: 0px;                /* B2 */
   top: 150px;              /* B3:画像の高さに合わせる */
   width: 150px;            /* B4:画像の横幅に合わせる */
   height: 100px;            /* B5:スライドして重ねる領域の高さ */
   background-color: black; /* B6:スライドして重ねる領域の背景色 */
   color: white;            /* B7:スライドして重ねる領域の文字色 */
   opacity: 0.6;            /* B8:スライドして重ねる領域の透明度 */
}

.PhotoBox .SlideBox .Caption {
   font-weight: normal;; /* 文字の太さ */
   font-size: 100%;    /* 文字サイズ */
   margin: 0.8em;     /* 周囲の余白量 */
   text-align: center;
   margin-top: 1.0em;
}

@media only screen and (max-device-width : 480px) {
/* スマートフォンだけ以下を適用 */
h1{
  color: black;
  font-size: 40px;
  /*border-bottom: solid 3px black;*/
  text-align: center;
/*  font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;*/
  font-weight:100%;
  padding: 10px;
}

/*
body {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1280px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}
*/
div.PhotoBox {
   float: left;              /* A1 */
   position: relative;;       /* A2 */
   overflow: hidden;         /* A3 */
   margin: 10px 10px 10px 10px;/* A4:隣接画像との余白量 */
   width: 100px;            /* A5:画像の横幅 */
   height: 100px;           /* A6:画像の高さ */
   margin-left: 8px;


}
.photo{
  width: 100px;
  height: 100px;
}

div.PhotoBox div.SlideBox {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 62px;/*画像の左上に配置*/
  left: 0;
  margin: 0; /*余計な隙間を除く*/
  color: white;/*文字を白に*/
  background: black;/*背景色*/
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  padding: 5px;
  opacity: 0.4;
  }

div.PhotoBox div.SlideBox p.Caption {
   font-weight: normal; /* 文字の太さ */
   font-size: 13px;    /* 文字サイズ */
   margin: 2px;     /* 周囲の余白量 */
   text-align: center;
   margin-left: 0;
   padding: 1px;

}
}
